<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Files.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Files.Properties.Settings>
            <setting name="FolderView" serializeAs="String">
                <value>Details</value>
            </setting>
            <setting name="LargeIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmallIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Details" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="List" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHiddenFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string xsi:nil="true"/>
                    </ArrayOfString>
                </value>
            </setting>
        </Files.Properties.Settings>
    </userSettings>
</configuration>
